asgiref==3.7.2
crispy-bootstrap4==2024.1
crispy-bootstrap5==2024.2
dj-database-url==2.1.0
Django==4.2
django-crispy-forms==2.1
django-heroku==0.3.1
gunicorn==21.2.0
packaging==24.0
pdfkit==1.0.0
pillow==10.2.0
psycopg2==2.9.9
sqlparse==0.4.4
typing_extensions==4.10.0
uuid==1.30
whitenoise==6.6.0
